.light-background {
  background-color: rgb(178, 235, 178);
}

.dark-background {
  background-color: rgb(66, 66, 63);
  color: white;
}


.dog1{
  width: 50%;
  padding: 50px;
  border: solid black;
  border-width: 30px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.dog1 img {
width: 50% 
}

/* .clickable-hide {
  color: black
} */

.selected{
  color:black;
}

.highlight{
  background: yellow;
  box-sizing: border-box;
}

/* .clickable {
  cursor: pointer;
  color: black;
  border: solid blue;
  background-color: yellow;
  box-sizing: border-box;
} */

.dog2{
  width: 50%;
  padding: 50px;
  border: solid black;
  border-width: 30px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;

}
.dog2 img{
  width: 50% 
  }


.cat{
  width: 50%;
  padding: 50px;
  border: solid black;
  border-width: 30px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.cat img{
  width: 50% 
  }


.bird{
  width: 50%;
  padding: 50px;
  border: solid black;
  border-width: 30px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;

}

.bird img{
  width: 50% 
  }

.turtle{
  width: 50%;
  padding: 50px;
  border: solid black;
  border-width: 30px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;

}
.turtle img{
  width: 50% 
  }